body {
    display: flex;
    flex-direction: row;
}

#heading-container {
    align-items: center;
    text-align: center;
    height: 180px;
    width: 300px;
}

table {
    align-items: center;
    height: auto;
    width: 500px;
    border-collapse: collapse;
    border-radius: 20px;
    border-style: hidden;
    box-shadow: 0 0 0 5px var(--color-1);
}

th {
    border: 1px solid var(--color-3);
    padding: 15px;
    margin: 10px;
}

table td {
    align-items: right;
}
/* 
#shopping-table {
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
} */
